.game {
    text-align: center;
    border-radius: 15px;
}

.btn {
    width: 400px;
}

.pic {
    border-radius: 15px;
}

/*----------------- Card Flipping Animation -----------------*/

.flip-card {
  
  width: 130px;
  height: 130px;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-card-back {
    transform: rotateY(180deg);
    margin: auto;
}